h1 {
  text-align: end;
}

.flex-center {
  display: flex;
  justify-content: space-around;
}

img {
  border-radius: 50%;
}

.margin-top {
  margin-top: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}
