<div #main>
    <h1 @scaleIn>Contact</h1>
    <hr @fadeIn>
    <div class="flex-column margin-top-60" @slideInLeft>
        <a href= "mailto: hello@mannan.is"> hello&#64;mannan.is </a>
        <!-- @TODO: man@javman.is set up the domain. -->
        <!-- Other domains: manishere.com, manisher.com -->
        <a href="tel:15712288302" class="margin-top-12 margin-bottom-12">+1 (571) 228-8302</a>
        <p class="margin-0">Alexandria, Virginia</p>
    </div>
    <button (click)="navService.goTo(navService.Links.home)"  class="margin-top-50" @fadeIn>Back To Home</button>
</div>