
<!-- TODO: change more and less to just go through infinite cycles of 2x more, 2x less, 2x more, 2x less, etc. -->
<div id="page">
  <div id="header">
    <app-header></app-header>
  </div>

  <div id="body" *ngIf="(this.navService.selectedLink$ | async) as link">
    <div id="home">
      <app-home [link]="link" [navService]="navService"></app-home>
    </div>

    <div id="about">
      <app-about [link]="link" [navService]="navService"></app-about>
    </div>
  
    <div id="resume">
      <app-resume [link]="link" [navService]="navService"></app-resume>
    </div>

    <div id="contact">
      <app-contact [link]="link" [navService]="navService"></app-contact>
    </div>
  </div>

</div>
