
<div id="page">
  <div id="header">
    <div id="picture" (click)="setDarkMode()">
      <img src="assets/mannan.jpg" width="50" height="50">
      <div id="light-dark-mode">
        <a id="light" [ngClass]="{ opaqueFifty: darkMode }">🌞</a>
        <a id="dark" [ngClass]="{ opaqueFifty: !darkMode }">🌛</a>
      </div>
    </div>

    <div></div>

    <div id="links">
      <a id="home-link" [ngClass]="{ selected: selectedLink === 'home' }" class="link" (click)="setLink('home')">Home</a>
      <a id="about-link" [ngClass]="{ selected: selectedLink === 'about' }" class="link" (click)="setLink('about')">About</a>
      <a id="resume-link" [ngClass]="{ selected: selectedLink === 'resume' }" class="link" (click)="setLink('resume')">Resume</a>
      <a id="contact-link" [ngClass]="{ selected: selectedLink === 'contact' }" class="link" (click)="setLink('contact')">Contact</a>
    </div>
  </div>

  <div id="body">
    <div id="intro">
      <h1>Mannan Javid</h1>
      <hr>
      <p>
        Versatile engineer specializing in empowering people through technology and communication.
      </p>
      <button (click)="setLink('about')">About me</button>

    </div>

    <div id="about-me">
      <h1>About</h1>
      <hr>
      <p>
        I am a software engineer, leader, and follower. I'm passionate about facilitating success through clear and inclusive communication and good code.
      </p>

      <p>
        I grew through my career as a member of tight teams in early stage startups. I've had lots of experience building digital products in a variety of circumstances. I've also had experience coordinating teams.
      </p>

      <p>
        I measure my success by the success of those around me. My greatest passion is sustainable growth, and my strongest traits are my knack for learning, my devotion to honesty, and my openness to experience.
      </p>
      <button (click)="setLink('resume')">View My Resume</button>
    </div>
    <div id="resume">
      <h1>Resume</h1>
      <hr>
      <p>
        I am a software engineer, leader, and follower. I'm passionate about facilitating success through clear and inclusive communication and good code.
      </p>

      <p>
        I grew through my career as a member of tight teams in early stage startups. I've had lots of experience building digital products in a variety of circumstances. I've also had experience coordinating teams.
      </p>

      <p>
        I measure my success by the success of those around me. My greatest passion is sustainable growth, and my strongest traits are my knack for learning, my devotion to honesty, and my openness to experience.
      </p>
      <button (click)="setLink('contact')">Get In Touch</button>
    </div>
    <div id="contact">
      <h1>Contact</h1>
      <hr>
      <a href= "mailto: man@mannan.com"> man@mannan.com </a>
      <br>
      <a href="tel:15712288302">+1 (571) 228-8302</a>
      <br>
      <p>Alexandria, Virginia</p>
      <button (click)="setLink('about')">Back To Home</button>
    </div>
  </div>

</div>
