
<!-- TODO: change more and less to just go through infinite cycles of 2x more, 2x less, 2x more, 2x less, etc. -->
<div id="page">
  <div id="header">
    <app-header></app-header>
  </div>

  <div id="body">
    <div #homeDiv id="home">
      <app-home></app-home>
    </div>

    <div #aboutDiv id="about">
      <app-about></app-about>
    </div>
  
    <div #resumeDiv id="resume">
      <app-resume></app-resume>
    </div>

    <div #contactDiv id="contact">
      <app-contact></app-contact>
    </div>
  </div>

</div>
