#page {
  font-family: Lucida Grande;

  #body {
    margin: 20vh 28vw;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #0b0b0b;

  border-bottom: 1px solid white;
  height: 60px;

  img {
    border-radius: 50%;
  }

  #links {
    display: flex;
    padding: 0 50px 0 15px;
  }
  #links > * {
    padding-left: 15px;
  }
  .link {
    cursor: pointer;
  }
  .selected {
    text-decoration: underline;
  }

  #picture {
    display: flex;
    align-items: center;
  }

  #picture:hover {
    cursor: pointer;
  }

  #light-dark-mode {
    display: flex;
  }

  #light,
  #dark {
    font-size: 11px;
  }
  .opaqueFifty {
    opacity: 0.5;
  }
}

button {
  text-transform: uppercase;
  padding: 5px;
  margin-top: 25px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-top: 50px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  font-size: 101%;
}

#intro {
  margin-top: 33vh;
}

#about-me {
  margin-top: 72vh;
}

#resume {
  margin-top: 72vh;

  .section {
    padding: 0;
  }

  .section > * {
    padding: 0;
    margin: 0;
  }

  .margin-top {
    margin-top: 25px;
  }
}

#contact {
  margin-top: 72vh;
  height: 55vh;
}
