<div #main>
  <h1>Resume</h1>
  <hr>
  <h2 class="margin-top-60" >Education</h2>
  <div class="section">
    <b>George Mason University</b>
    <p>2009-2015</p>
    <p>
      Electrical Engineering, B.S.
    </p>
  
    <div id="more-education">
      <div *ngIf="displayMoreEd" class="content">
  
        <div *ngIf="moreEdSectionsShown >=1"  class="section">
          <a href="https://www.youtube.com/watch?v=GSx22ggePHw" target="_blank"><b>ARCHR Humanoid Robot</b></a>
          <p>2013-2014</p>
          <p>
            Lead Developer
          </p>
          <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, Typescript, Angular, AWS, Java, innovation</p>
          <p style="font-size: 12px; margin-top: 6px;">Humanoid robot <span><a href="assets/data/documents/GMU-ARCHR.pdf" download="ARCHR - Apparatus for Remote Control of Humanoid Robot" style="color: #039be5;">published</a></span>, taken to DARPA robotics challenge, and designed to address Daiichi Nuclear disaster response. Simplistic one-to-one hand-puppetered mimickry with Oculus VR streaming, controllers for ARCHR, Mini-Hubo, and Baxter robots.</p>
        </div>
  
        <div *ngIf="moreEdSectionsShown >=1" class="section margin-top-12">
          <a><b>Solar Collaborative Workspace</b></a>
          <p>2013-2014</p>
          <p>
            Lead Developer
          </p>
          <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Solidworks, wiring schematics, sustainability and clean energy</p>
          <p style="font-size: 12px; margin-top: 6px;">Contributor who designed mechanics in solidworks 3D and wire drawings.</p>
        </div>
  
        <!-- TODO: Move to extracurricular. -->
        <div *ngIf="moreEdSectionsShown == 2" class="section margin-top-12">
          <a><b>DC Dome Light (family)</b></a>
          <p>2014</p>
          <p>
            CAD Designer
          </p>
          <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Solidworks, wiring schematics, sustainability and clean energy</p>
          <p style="font-size: 12px; margin-top: 6px;">Designed dome light in 3D for use for external vendors outsourcing. Design was too complex to be used.</p>
        </div>
  
      </div>
      <button *ngIf="moreEdSectionsShown < 2" type="button" class="collapsible" (click)="toggleDisplayMoreEd()">more</button>
      <button *ngIf="moreEdSectionsShown === 2" type="button" class="collapsible" (click)="toggleDisplayNoMoreEd()">less</button>
    </div>
  
  </div>
  
  <h2>Employment History</h2>
  <div class="section margin-top">
    <a href="https://www.publicissapient.com/" target="_blank"><b>Publicis Sapient</b></a>
    <p>2022-2023</p>
    <p>
      Senior Software Engineer
    </p>
    <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, Typescript, Angular, ArcGIS, AWS, Java, leadership</p>
    <p style="font-size: 12px; margin-top: 6px;">Led implementation and oversight of developers to deliver features ahead of schedule and improve company-wide velocity. Initiated and introduced major feature rewrites.</p>
    <!-- Do I say it was due to personal reasons? which feels more truthful ... now. -->
  </div>
  
  <div class="section margin-top">
    <a href="https://www.capitalone.com/" target="_blank"><b>Capital One</b></a>
    <p>2021-2022</p>
    <p>
      Senior Software Engineer
    </p>
    <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, Typescript, Angular, AWS, Java, innovation</p>
    <p style="font-size: 12px; margin-top: 6px;">Senior engineer delivered modernization for high visibility bank and credit features. On-call for weekly deployments. Took a design risk and won a hackathon.</p>
  </div>
  
  <div class="section margin-top">
    <a href="https://www.maxar.com/" target="_blank"><b>Radiant (now Maxar)</b></a>
    <p>2018-2022</p>
    <p>
      Software Engineer II
    </p>
    <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, Typescript, Angular, Cesium, LeafletJS, ArcGIS, AWS, culture</p>
    <p style="font-size: 12px; margin-top: 6px;">Mid-level frontend engineer on mapping systems that informed national security needs. Champion and advocate for company culture.</p>
  </div>
  
  <div id="more-jobs">
    <div *ngIf="displayMoreJobs">
  
      <div class="section margin-top">
        <a href="https://www.mitre.org/" target="_blank"><b>MITRE Corporation</b></a>
        <p>2016-2018</p>
        <p>
          Software Engineer I
        </p>
        <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, Typescript, Angular, Python, Python Django, AWS, research</p>
        <p style="font-size: 12px; margin-top: 6px;">Engineer, researcher and experimenter in national initiatives addressing cloud, cyber security, and tax system shortages.</p>
      </div>
  
      <div *ngIf="moreJobsSectionsShown >=1" class="section margin-top">
        <a href="https://www.electric.coop/" target="_blank"><b>America's Electric Cooperatives</b></a>
        <p>2014-2016 (contract)</p>
        <p>
          Software Engineer
        </p>
        <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, jQuery, Python, Python-Flask, research</p>
        <p style="font-size: 12px; margin-top: 6px;">Fullstack engineer for America's cooperatives. Committed to stewarding sustainability in energy generation and <a href="assets/data/documents/OMF-DR.pdf" download="OMF-Energy-Demand-Response" style="color: #039be5;">cutting edge research.</a></p>
      </div>
  
      <div *ngIf="moreJobsSectionsShown == 2" class="section margin-top">
        <a href="https://meal-fairy-ce3bf.web.app/" target="_blank"><b>Meal Fairy, LLC</b></a>
        <p>2018 (self-employed)</p>
        <p>
          Founder
        </p>
        <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Javascript, Typescript, Angular, Firebase, Stripe, startup, marketing</p>
        <p style="font-size: 12px; margin-top: 6px;">Founder for a plate to door food delivery startup in the greater Washington DC area.</p>
      </div>
  
    </div>
  
    <button *ngIf="moreJobsSectionsShown < 2" type="button" class="collapsible" (click)="toggleDisplayMoreJobs()">more</button>
    <button *ngIf="moreJobsSectionsShown === 2" type="button" class="collapsible" (click)="toggleDisplayNoMoreJobs()">less</button>
  </div>
  
  <h2>Extracurriculars</h2>

  <div class="section margin-top">
    <b>Substitute Teacher</b>
    <p>2024</p>
    <p style="font-size: 12px; margin-top: 6px;">Public school teacher and instructional assistant for elementary, middle and high schools across Fairfax County and Southern Bethesda in Maryland and Virginia across English, Math, for emotionally limited and special needs students.</p>
  </div>
  
  <div id="more-ec">
    <div *ngIf="displayMoreEC">
      <div *ngIf="moreECSectionsShown >=1"  class="section margin-top">
        <b>Volunteering</b>
        <p>2013-present</p>
        <p style="font-size: 12px; margin-top: 6px;">
          Volunteering and service across a variety of initiatives including: Food distribution and drives, STEM Students Lego Mindstorm & ARCHR robotics demo, Local community initiatives for the underserved and more.
        </p>
      </div>
  
      <div *ngIf="moreECSectionsShown >=1"  class="section margin-top">
        <b>Nomadic Travel</b>
        <p>2020-2023</p>
        <p style="font-size: 12px; margin-top: 6px;">Travel and living in a variety of locations from the West Coast, California, stewarding sustainability in ecovillages in California and Hawaii, to car camping across national parks across Washington, Oregon and California,  </p>
      </div>
  
      <div *ngIf="moreECSectionsShown == 2" class="section margin-top">
        <a href="https://appliedjung.com" target="_blank"><b>Applied Jung,</b></a>
        <br>
        <b>Community Building</b>
        <p>2021-present</p>
        <p style="font-size: 12px; font-style: italic; margin-top: 6px;">Analytical psychology, community men's work, embodiment & mindfulness</p>
        <p style="font-size: 12px; margin-top: 6px;">Training and application of community building and Jungian individuation techniques, holding <a href="https://thebeingman.com" target="_blank">a community space</a> for men to learn healthy models of masculinity.</p>
      </div>
  
      <!-- <div *ngIf="moreECSectionsShown == 2" class="section margin-top">
        <a href="https://thebeingman.com" target="_blank"><b>Being Man Project</b></a>
        <br>
        <p>2024</p>
        <p style="font-size: 12px; margin-top: 6px;">Founder of a community initiative to offer a space for men to receive support, develop trust, and cultivate brotherly bonds.</p>
      </div> -->

      <div *ngIf="moreECSectionsShown == 2" class="section margin-top">
        <b>Published Works</b>
        <p style="font-size: 14px;">&#x2022; <a href="assets/data/documents/GMU-ARCHR.pdf" download="ARCHR-Apparatus-for-Remote-Control of-Humanoid-Robot" style="color: #039be5;">Apparatus for Remote Control of Humanoid Robots</a>
        </p>
        <p style="font-size: 14px;">&#x2022; <a href="assets/data/documents/OMF-DR.pdf" download="OMF-Energy-Demand-Response" style="color: #039be5;">Open Modeling Framework Demand Response</a></p>
      </div>
    </div>

    <button *ngIf="moreECSectionsShown < 2" type="button" class="collapsible" (click)="toggleDisplayMoreEC()">more</button>
    <button *ngIf="moreECSectionsShown === 2" type="button" class="collapsible" (click)="toggleDisplayNoMoreEC()">less</button>
  </div>
  
  <button (click)="navService.goTo(navService.Links.contact)"  class="margin-top-60" >Get In Touch</button>
</div>