h1 {
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
  padding: 5px;
  margin-top: 25px;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section {
  padding: 0;
}

.section > * {
  padding: 0;
  margin: 0;
}

.margin-top {
  margin-top: 25px;
}

#more-education,
#more-jobs {
  margin-top: 6px;
}

h2 {
  margin-top: 50px;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  font-size: 101%;
}

// Collapsible
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 9px;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: lowercase;
  padding: 1px 6px;
  margin-top: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: #f1f1f1;
  color: black;
  padding: 6px;
  border-radius: 6px;

  .section {
    color: black;
    font-size: 80%;
  }
  .margin-top-12 {
    margin-top: 12px;
  }
  a {
    color: black;
  }
}
