<div #main>
    <!-- Man. Jav. -->
    <h1>Mannan</h1>
    <hr>
    <!-- Holistic engineer specializing in advancing people through technology and communication. -->
    <!-- Black sheep engineer specializing in advancing people through technology and communication. -->
    <!-- Multi-disciplinary engineer focused in advancing people through technology, communication and risk-taking. -->
    <p class="margin-0 margin-top-60">
      Multi-disciplinary engineer specializing in advancing people through technology.
    </p>
    <button (click)="navService.goTo(navService.Links.about)" class="margin-top-60">About me</button>

    <!-- I imagined a light timeline here: simple words like born with year, first computer i used and games and teams i launched, travel I did, initiation work into manhood, and i imagine more personal interests that don't go in my official about me section,  -->
</div>